main {

    header {
      text-align: center;
  }

  section#add_task {
    display: flex;
    justify-content:flex-start;
      mat-card {
        width: 200px;
        margin: 40px;
      }
  }
}



