<div class="emi-container" [class.emi-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="emi-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="emi-app-name">{{title}} </h1>
    </mat-toolbar>
  
    <mat-sidenav-container
      class="emi-sidenav-container"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    >
      <mat-sidenav
        #snav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      >
  
          <app-menu></app-menu>
  
      </mat-sidenav>
      
      <app-pages></app-pages>
    
    </mat-sidenav-container>
  </div>